body{
margin: 0px;
}
header{
    width: 1420px;
    height: 118px;
    display: flex;
    text-align: center;
    align-items: center;
}
header img{
    margin: 180px;
    height: 118px;
}
header a{
    color: rgb(109, 97, 97);
    margin: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}
header button{
    padding: 8px 15px;
    background-color: rgb(75, 145, 220);
    border-radius: 50px;
    margin: 25px;
    color: white;
    border: 0;
    font-size: 1rem;
} .first img{
    width: 1420px;
}
.second{
    text-align: center;
    padding: 10px;
    width: 1420px;

}
.line{
    width: 40px;
    height: 4px;
    background-color: rgb(55, 134, 231);
    color: white;
}
.second .h2{
    font-size: 2rem;
    font-weight: bold;
}
.second .b2{
    display: flex;
    margin:  50px 16%;
}
.second .b2 .bb1 img{
    height: 450px;
    padding: 10px;
}
.second .b2 .bb2{
    text-align: left;
    width: 400px;
padding: 0px 10px;
display: flex;
flex-direction: column;
}
.second .b2 .bb2 h2{
    font-size: 1.8rem;
color: rgb(75, 145, 220);
}
.second .b2 .bb2 p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
color: rgb(128, 134, 139);
}
.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    color: rgb(72, 68, 68);
    font-weight: 600;
}
.blocks .bbb1,.bbb2,.bbb3,.bbb4{
 width: 150px;
 padding: 10px;
 display: flex;
}
.blocks .bbb1 img{
    width: 30px;
    padding: 0px 10px;
}
.blocks .bbb2 img{
    width: 30px;
    padding: 0px 10px;
}
 .blocks .bbb3 img{
    width: 30px;
    padding: 0px 10px;
}
.blocks .bbb4 img{
    width: 30px;
    padding: 0px 10px;
}
.third{
    background-image: url("third.jpg");
    padding: 50px 0px;
text-align: center;
width: 1420px;
}
.third .h2{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(28, 28, 61);
}
.third .block-third .project .block{
    width: 320px;
    height: 360px;
    padding-bottom: 20px;
    margin: 13px;
   
    background-color: white;
}
.third .block-third .project .block img{
    width: 320px;
    height: 230px;
}
.third .block-third .project .block p{
padding: 0px 10px;
}
.third .block-third{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1300px;
margin: 70px 10px 5px 50px;
}
.third .block-third .project{
    display: flex;
    overflow: hidden;
    width: 1020px;
    text-align: center;
    /* padding-right: 13px; */
}
.third .block-third button{
    border: none;
    background-color: initial;
    font-size: 5em;
    cursor: pointer;
    margin: 0px 40px;
}
.fourth{
    padding: 10px ;
    width: 1420px;
    text-align: center;
}
.fourth h1{
    font-size: 2.4rem;
}
.fourth .blocks{
    display: flex;
    margin: 70px 250px 0px ;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 1100px;
}
.fourth .blocks .bb {
    font-size: 1.5rem;
    width: 300px;
    margin: 0px 10px;
}
.fifth{
    height: 500px;
    background-color: rgb(108, 185, 240,0.8);
    display: flex;
    width: 1420px;
}

.fifth .contact{
    width: 550px;
    height: auto;
    margin-left: 250px;
    text-align: center;
    background-color: rgba(8, 8, 64, 0.8);
    color: white;
}
.fifth .contact .heading1{
    font-size: 2.5rem;
    padding: 40px 0px 5px;
}
.fifth .contact .line{
    width: 40px;
    height: 4px;
    background-color: white;
    color: white;
}
.fifth .contact .details{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.fifth .contact .details .detail {
width: 200px;
line-height: 1.6rem;
margin: 55px 0px;
}
.fifth .contact .details .detail .name{
font-size: 1.5rem;
}
.fifth .contact .details .detail .addinfo,.pn,.em{
    font-size: 0.9rem;
    }
    .fifth .contact .details .detail .pn{
        margin-top: 20px;
    }
.fifth .message{
    width: 400px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.fifth .message .heading2{
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    margin: 10px;
}
.fifth .message .name,.number,.email {
    height:40px;
    margin: 10px;
    padding-left: 20px;
    width: 250px;
    border: none;
    border-radius: 5px;
}
.fifth .message .msg{
    height: 100px;
    margin: 10px;
    width: 250px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
}
.fifth .message button{
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
    background-color: rgb(88, 155, 222);
    color: white;
    font-size:0.9rem;
width: 150px;
}
footer{
    height: 50px;
    display: flex;
    width: 1420px;
    background-color: black;
}
footer .cr{
    width: 800px;
    text-align: center;
    color: white;
font-size: 0.9rem;
padding: 10px;
}
footer .sm{
    width: 400px;
    display: flex;
    text-align: end;
    align-items: end;
    padding-left: 200px;
}
footer .sm div img{
    width: 40px;
    height: 40px;
    margin: 5px 20px;
}
